<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
</head>
<body>
    <h1>쇼핑몰 홈</h1>
    <br>
    <p>로그인 하세요</p>
    <p>계정이 없으시면 회원가입하세요.</p>
    <br>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
</body>
</html>